<section>
	<h1>A equipa</h1>
	<br>
	<br>

<table>
<tr>
<td>
	<%= image_tag("nuno.jpg", :alt => "Nuno", :height=> "130" ,:width=>"160", :class=>"img_wrap")%>
</td>
<td>
	<p>Nuno Alves - 42224</p>
	<p>nr.alves@campus.fct.unl.pt
</td>
</tr>
</table>

<table>
<tr>
<td>
	<%= image_tag("ze.jpg", :alt => "ze", :height=> "130" ,:width=>"160", :class=>"img_wrap")%>
</td>
<td>
	<p>José Raposo - 42224</p>
	<p>nr.alves@campus.fct.unl.pt
</td>
</tr>
</table>

<table>
<tr>
<td>
	<%= image_tag("lucia.jpg", :alt => "lucia", :height=> "130" ,:width=>"160", :class=>"img_wrap")%>
</td>
<td>
	<p>Lucía Rodriguez - 42224</p>
	<p>nr.alves@campus.fct.unl.pt
</td>
</tr>
</table>

<!--
<br>
	<%= image_tag("logo.gif", :alt => "LOGO", :height=> "130" ,:width=>"160", :class=>"img_wrap")%>
<div class="text_wrap">
	<p>Nuno Alves - 42224</p>

</div>

<br>

	<%= image_tag("logo.gif", :alt => "LOGO", :height=> "130" ,:width=>"160", :class=>"img_wrap")%>
<div class="text_wrap">
	<p>Nuno Alves - 42224</p>

</div>

-->



</section>