<section>
	<h1>Lab1 -> Exemplos de bom e mau design</h1>
	<br>
	<br>

	<h2>Como abrir e fechar esta janela?</h2>
	<hr>
	<div class="center">
	<%= image_tag("window1.jpg", :alt => "Window", :height=> "300" ,:width=>"300", :class=>"img_wrap")%>
	</div>
	<br>
	<div class="center">
	<%= image_tag("window2.jpg", :alt => "Window", :height=> "300" ,:width=>"300", :class=>"img_wrap")%>
	</div>
	<br>
		<p>Nesta janela, o manipulo para trancar/destrancar a janela não é intuitivo.</p>
		<p>Tem 3 modos de funcionamento:</p>
		<ul>
		    <li>Manipulo para baixo: A janela fica trancada.</li>
		    <li>Manipulo para a direita: A janela pode ser aberta na horizontal</li>
		    <li>Manipulo para cima: A janela pode ser aberta na vertical</li>
		</ul>
	<br>
		<p>É necessário aprender primeiro como funciona, mas depois é fácil lembrar.</p>
	<br>

</section>

<section>
	
	<h2>Avast Antivírus grátis (versão 2014)</h2>
	<hr>
	<div class="center_long">
	<%= image_tag("software.jpg", :alt => "Software", :height=>"100%" ,:width=>"100%", :class=>"img_wrap")%>
	</div>
	<br>

<ul>
<li>O tamanho da letra e contraste entre cores torna o texto legível em toda a interface.</li>
<li>Cada categoria está intuitivamente identificada com os respetivos símbolos sem qualquer</li>
redundância.
<li>A publicidade - dado o antivírus ser grátis - não é invasiva.</li>
<li>Existem slots personalizáveis para o utilizador ocupar com as funcionalidades do antivírus que mais utiliza.</li>
</ul>

</section>

<br>

<section>
	
	<h2>Mini frigideira TEFAL</h2>
	<hr>
	<div class="center">
	<%= image_tag("frigi.jpg", :alt => "Frigi", :height=>"100%" ,:width=>"100%", :class=>"img_wrap")%>
	</div>
	<br>

<ul>
<li>O manípulo da frigideira é mais pesado que a própria base que assenta na superfície de aquecimento, resultando numa posição de repouso instável que pode originar derrames de conteúdo a ferver durante a sua utilização.</li>
</ul>

<br>

</section>



<section>
	
	<h2>Twitter (versão web)</h2>
	<hr>
	<div class="center_long">
	<%= image_tag("twitter.jpeg", :alt => "Twitter", :height=>"100%" ,:width=>"100%", :class=>"img_wrap")%>
	</div>
	<br>

<ul>
<li>A interface é bastante intuitiva.</li>
<li>Os nomes/símbolos usados nos menus são de compreensão fácil, o que torna a navegação simples</li>
<li>A informação acerca do utilizador está destacada com um tipo de letra, cor e tamanho adequado</li>
</ul>

<br>

</section>

<section>
	
	<h2>Armário de arquivo</h2>
	<hr>
	<div class="center_long">
	<%= image_tag("armario.jpeg", :alt => "Software", :height=>"100%" ,:width=>"100%", :class=>"img_wrap")%>
	</div>
	<br>

<p>Neste armário existe um ferro que é facilmente confundido com uma maçaneta de gaveta. Com a gaveta aberta nota-se que o ferro faz apenas parte da estrutura do armário e não tem funcionalidade associada, no entanto com a gaveta fechada não é tão claro. Não só é um desperdício de recursos como torna a sua primeira utilização confusa e leva o utilizador a procurar uma determinada utilização que é inexistente.</p>


</section>

<br>