<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>IPMSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/pecita" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/archicoco" rel="stylesheet" type="text/css"/>


</head>


<body>
<div id="logo">
	<div id="title-text">
		<p>Interação <span class="pessoa">Pessoa</span> - <span class="maquina">Máquina</span></p>
		<p id="slogan">Designing your way</p>
	</div>
	
	<div id="logo-container">
		<%= image_tag("logo.gif", :alt => "LOGO", :height=> "130" ,:width=>"160")%>
	</div>
</div>

<div id="nav-container">
	
	<nav>
	  <ul>
	    <li>
	        <a href="#">Home</a>
	    </li>
	    <li>
	        <a href="#">Assignments</a>
	    </li>
	    <li>
	        <a href="#">Reports</a>
	    </li>
	    <li>
	        <a href="#">About us</a>
	    </li>
	  </ul>
	</nav>
</div>

<div id="mainpage">
<%= yield %>
</div>
<footer>
JLN 2014/2015
</footer>

</body>
</html>
