<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>IPMSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/pecita" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/archicoco" rel="stylesheet" type="text/css"/>


</head>


<body>
<div id="logo">
	<div id="title-text">
		<p>Interação <span class="pessoa">Pessoa</span> -Máquina</p>
		<p id="slogan">Designing your way</p>
	</div>
	
	<div id="logo-container">
		<%= image_tag("logo.gif", :id=>"logoID",:alt => "LOGO", :height=> "130" ,:width=>"160")%>
	</div>
</div>
<div id="nav-container">
	
	<nav>
	  <ul>
	    <li>
	    	<% if current_page?(:controller => 'site', :action => 'home') %>
	    			<a href="/"><span class="bluetxt">Home</span></a>
	    	<% else %>
	    			<a href="/">Home</a>
	    	<%end%>
	    </li>
	    <li>
	        <% if current_page?(:controller => 'site', :action => 'assignements') %>
	    			<a href="assignements"><span class="bluetxt">Assignements</span></a>
	    	<% else %>
	    			<a href="assignements">Assignements</a>
	    	<%end%>
	    </li>
	    <li>
	        <% if current_page?(:controller => 'site', :action => 'reports') %>
	    			<a href="reports"><span class="bluetxt">Reports</span></a>
	    	<% else %>
	    			<a href="reports">Reports</a>
	    	<%end%>
	    </li>
	    <li>
			<% if current_page?(:controller => 'site', :action => 'about') %>
	    			<a href="about"><span class="bluetxt">About</span></a>
	    	<% else %>
	    			<a href="about">About</a>
	    	<%end%>
	    </li>
	  </ul>
	</nav>
</div>

<div id="mainpage">
<%= yield %>
</div>
<footer>
Nuno Alves - 42224 |
Lucía Rodriguez - 44569 |
José Raposo - 41644
</footer>

</body>
</html>
